build/
~*
*~
.flatpak-builder/
app-dir/
debian/com.github.lainsce.planitis.debhelper.log
debian/com.github.lainsce.planitis.substvars
debian/com.github.lainsce.planitis/
debian/debhelper-build-stamp
debian/files
obj-x86_64-linux-gnu/
