Source: com.github.lainsce.reganam
Section: x11
Priority: extra
Maintainer: Lains <lainsce@airmail.cc>
Build-Depends: meson,
               debhelper (>= 9),
               libgtk-3-dev,
               libgranite-dev (>= 0.3.0),
               libjson-glib-dev (>= 0.10),
               libgee-0.8-dev,
               valac (>= 0.26)

Standards-Version: 3.9.3
Package: com.github.lainsce.reganam
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Build up your planet's buildings and grow yourself a ecumenopolis of native aliens.
