@define-color color_primary #F7F7F7;
@define-color text_color #151515;
@define-color accent #FF976B;
@define-color accent_color_500 #FF976B;

window.unified decoration,
window.unified decoration-overlay {
  border-radius: 8px;
}

.destructive-button:hover {
    color: #D07070;
}

.pl-toolbar {
    background: #FFF;
    box-shadow: none;
    border-bottom: 1px solid alpha(black, 0.25);
}
.pl-toolbar-dark {
    background: #000;
}

.pl-toolbar .image-button {
    border-radius: 8px;
}

.pl-toolbar .image-button image {
    padding: 0 6px;
}

.pl-toolbar .image-button:focus,
.pl-toolbar .image-button:hover {
    background: shade(@base_color, 0.95);
}

.pl-window {
    background: #F7F7F7;
}
.pl-window-dark {
    background: #151515;
}
.pl-toolbar .image-button {
    background: none;
}
.pl-planet-name {
    color: @accent;
    font-weight: 300;
    font-size: 24pt;
}
.pl-destructive {
    background-color: #D07070;
    color: #151515;
    text-shadow: 0 1px 1px transparent;
    -gtk-icon-shadow: 0 1px 1px transparent;
}
.pl-destructive:active {
    color: #F7F7F7;
}

progressbar .left {
    background: @accent;
}

.pl-switcher button {
    box-shadow: none;
    background-image: none;
    margin: 0 6px;
    border-radius: 8px 8px 0 0;
    background: mix(@accent, @base_color, 0.95);
}
.pl-switcher button:first-child {
    border-bottom: 1px solid shade (mix (@accent, @base_color, 0.85), 0.88);
}
.pl-switcher button:not(:first-child):not(:last-child) {
    box-shadow: none;
    background-image: none;
    border-radius: 0;
    border: 1px solid transparent;
}
.pl-switcher button:last-child {
    box-shadow: none;
    background-image: none;
    border-radius: 0 0 8px 8px;
    border-top: 1px solid shade (mix (@accent, @base_color, 0.85), 0.88);
}
.pl-switcher button label {
    font-weight: 700;
    opacity: 0.8;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}
.pl-switcher button:not(:checked):not(:active) label {
    font-weight: 500;
    opacity: 0.8;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}
.pl-switcher button:not(:checked):not(:active) {
    border-left: 1px solid shade (mix (@accent, @base_color, 0.85), 0.88);
    border-right: 1px solid shade (mix (@accent, @base_color, 0.85), 0.88);
    background: none;
}
.pl-switcher button {
    background: shade (mix (@accent, @base_color, 0.85), 0.88);
    border: 1px solid shade (mix (@accent, @base_color, 0.95), 0.88);
}
.pl-column {
    background: mix (@accent, @base_color, 0.85);
    border-right: 1px solid alpha (black, 0.25);
    box-shadow: none;
    padding: 6px;
}
.title {
    font-weight: 700;
}
.info > image,
.info > label {
    color: shade(@accent, 0.95);
    font-size: 0.88em;
}