@define-color color_primary #F7F7F7;
@define-color text_color #151515;
@define-color accent #FF976B;
@define-color accent_color_500 #FF976B;

window.unified {
    border-radius: 8px;
}

.destructive-button:hover {
    color: #D07070;
}

.pl-toolbar {
    background: none;
    box-shadow: none;
}

.pl-bar {
    background: mix (@accent, @base_color, 0.95);
    border-right: 1px solid alpha (black, 0.25);
}

.pl-toolbar .image-button {
    border-radius: 8px;
}

.pl-toolbar .image-button image {
    padding: 0 6px;
}

.pl-toolbar .image-button:focus,
.pl-toolbar .image-button:hover {
    background: shade(@base_color, 0.95);
}

.pl-button {
    border-radius: 8px;
}

.pl-button image {
    padding: 0 6px;
}

.pl-button:focus,
.pl-button:hover {
    background: mix (@accent, @base_color, 0.66);
}

.pl-window {
    background-color: #F7F7F7;
}
.pl-window-dark {
    background-color: #151515;
}
.pl-toolbar .image-button {
    background: none;
}
.pl-planet-name {
    color: @accent;
    font-weight: 300;
    font-size: 24pt;
    text-shadow: 0 1px 1px @text_fg_color;
}
.pl-destructive {
    background-color: #D07070;
}
.pl-suggested {
    background-color: #70C0FF;
}

.space {
    background: #151515;
    border-radius: 8px;
    padding: 30px;
    background-image: radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
                      radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
                      radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
                      radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
}

progressbar .left {
    background: shade (@accent, 0.88);
    border: 1px solid shade (@accent, 0.88);
    box-shadow: none;
    background-image: none;
    border-radius: 8px;
}

progressbar trough {
    border: 1px solid shade (@accent, 0.88);
    box-shadow: none;
    background-image: none;
    border-radius: 8px;
    margin: 6px;
}

.pl-progressbar trough {
    background: mix(@accent, @base_color, 0.85);
    border: 1px solid shade (@accent, 0.88);
    box-shadow: none;
    background-image: none;
    border-radius: 8px;
    margin: 6px;
}

.pl-progressbar .left {
    background: shade (@accent, 0.88);
    border: 1px solid shade (@accent, 0.88);
    box-shadow: none;
    background-image: none;
    border-radius: 8px;
}

.pl-progressbar text {
    opacity: 0.8;
}

.pl-switcher button {
    box-shadow: none;
    background-image: none;
    margin: 0 6px;
    border-radius: 8px 8px 0 0;
    background: mix(@accent, @base_color, 0.85);
}
.pl-switcher button:first-child {
    border-bottom: 1px solid shade (@accent, 0.88);
}
.pl-switcher button:not(:first-child):not(:last-child) {
    box-shadow: none;
    background-image: none;
    border-radius: 0;
    border: 1px solid transparent;
}
.pl-switcher button:last-child {
    box-shadow: none;
    background-image: none;
    border-radius: 0 0 8px 8px;
    border-top: 1px solid shade (@accent, 0.88);
}
.pl-switcher button label {
    font-weight: 700;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}
.pl-switcher button:not(:checked):not(:active) label {
    font-weight: 500;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}
.pl-switcher button:not(:checked):not(:active) {
    border-left: 1px solid shade (@accent, 0.88);
    border-right: 1px solid shade (@accent, 0.88);
    background: none;
}
.pl-switcher button {
    background: shade (@accent, 0.88);
    border: 1px solid shade (@accent, 0.88);
}
.pl-column {
    background: mix (@accent, @base_color, 0.85);
    border-right: 1px solid alpha (black, 0.25);
    box-shadow: none;
    padding: 6px;
}
.title {
    font-weight: 700;
}
.info > image,
.info > label {
    color: shade(@accent, 0.7);
    font-size: 0.88em;
    margin-top: 6px;
}
