@define-color colorPrimary #111111;
@define-color textColorPrimary #FAFAFA;

window.background {
	background-color: #111;
}

button {
	background-color: #333;
}

button:checked {
	background-color: #222;
}

button:active {
	background-color: #222;
}

.titlebutton {
	background-color: #111;
}

label.h4 {
	font-size: 1.9em;
	color: #8DD6EF;
	font-weight: 500;
}

progressbar trough {
	background-color: #111;
	box-shadow: none;
	border: 1px solid #333;
}
